<div class="show-user">
    <div class="show-header">
        <div>
            <% if @user.image? %>
                <%= image_tag @user.image.thumb100.url, style: "border-radius: 50%;" %>
            <% else %>
                <%= image_tag("/assets/default.png", style: "width: 70px; height: 70px;" ) %>
            <% end %>
        </div>
        <div>
            <% if @user.id == @current_user.id %>
                <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "user-edit-link" %>
            <% end %>
            <%= render partial: 'follow_form', locals: { user: @user } %>
        </div>
    </div>
    <div class="show-user-info">
        <p class="user-name"><%= @user.name %>
        <% if @current_user.followers.include?(@user) %>
            <span class="following">あなたをフォローしています</span>
        <% end %>
        </p>
        
        <p class="user-email"><%= @user.email %></p>
        <p class="user-profile"><%= @user.profile %></p>
    </div>
    
    <%= render partial: 'follow_link', locals: { user: @user } %>
    
</div>
<div>
    <div>
        <ul class="nav nav-pills" id="right-tab">
            <li><a href="#tab1" data-toggle="tab" class="active custum-tab">ツイート：<%= @posts.count %></a></li>
            <li><a href="#tab2" data-toggle="tab" class="custum-tab">いいねした投稿</a></li>
        </ul>
    </div>

    <div class="main tab-content">
        <div class="tab-pane active" id="tab1">
            <%= render partial: 'application/posts_form', locals: { posts: @posts } %>
        </div>
        <div class="tab-pane" id="tab2">
            <%= render partial: 'good_post_form', locals: { likes: @likes } %>
        </div>
    </div>
</div>