<section class="post-item">
    <header>
        <div class="post-user-image">
            <% if @current_user.image %>
                <%= image_tag @current_user.image.thumb50.url, style: "border-radius: 50%;" %>
            <% else %>
                <%= image_tag "assets/default.png", width: "70px" %>
            <% end %>
        </div>
    </header>
    <div class="tweet-form">
        <%= form_for repry do |f| %>
            <%= f.hidden_field :post_id %>
            <div class="form-group"> 
                <%= f.text_field :content, :placeholder => "返信をツイート", class: 'form-control', row: 4 %>
            </div>
            <%= f.submit "返信", class: 'tweet-btn' %>
        <% end %>
    </div>
</section>