<div>
    <div class="container">
        <h1>ホーム</h1>

        <p><%= render partial: 'post_form', locals: { post: @post } %></p>

        <% @posts.each do |post| %>
            <div class="media content">
                <div class="media-body">
                    <h5 class="mt-0 font-weight-bold"><%= link_to(post.user.name, mypage_path(post.user_id)) %></h5>
                    <p class="card_subtitle"><%= date_format(post.created_at) %></p>
                    <p><%= post.content %></p>

                    <p><%= render partial: 'like', locals: { post: post } %></p>
                    <p><%= @like_count %>
                    <p><%= link_to '詳細', post %></p>

                    <p><%= render partial: 'delete', locals: { post: post } %></p>
                    

                </div>
            </div>
        <% end %>
    </div>
</div>