<section class="post-item">
            <header class="">
                <div class="post-user-image">
                    <% if post.user.image %>
                        <%= image_tag post.user.image.thumb50.url, style: "border-radius: 50%;" %>
                    <% else %>
                        <%= image_tag "assets/default.png", width: "70px" %>
                    <% end %>
                </div>
            </header>
            <div class="post-content">
                <div>
                    <div class="post-info">
                        <div class="user-name">
                            <%= link_to(post.user.name, "users/#{post.user.id}" ) %>
                        </div>
                        <div class="create-time">
                            <%= date_format(post.created_at) %>
                        </div>
                    </div>
                    <div class="post-main"><%= render_with_tags(post.content) %></p>
                    </div>
                </div>

                <div class="post-subitems">
                    <div>
                        <p><%= render partial: 'like', locals: { post: post } %></p>
                        <p><%= @like_count %></p>
                    </div>
                    <div class="dropup">
                        <button type="button" class="detail-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <p><%= render partial: 'delete', locals: {post: post} %></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>